<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
      
<title>FreezeME</title>
    </head>
    <body>
      <div class="grid-container">
          <header class="row">
          <div>
              <a class="brand" href="index.html">FreezeME</a>
          </div>
          <div>
              <a href="cart.html">Cart</a>
              <a href="signin.html">Sign in</a>
          </div>
          </header>
          <main>
             <div class="row center">
                 <div class="card">
                     <a href="product.html">
                         <!--image size: 680px by 830px-->
                         <img class="medium" src="./img/prod-crushed-ice-300x240.jpg" alt="product" />
                     </a>
                     <div class="card-body">
                         <a href="product.html">
                             <h2>Crushed Ice</h2>
                         </a>
                         <div class="price">
                            <h6>$3.50 </h6>
                         </div>
                         <div class="dimension">
                            <p>20lb bag</p>
                         </div>
                     </div>
                 </div>
                 <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-rock.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Rock</h2>
                        </a>
                        <div class="price">
                            <h6>$0.65 </h6>
                        </div>
                        <div class="dimension">
                            <p>2.5" x 2" x 2"</p>
                        </div>
                    </div>
                </div> 
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-skinny-rock.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Skinny Rock</h2>
                        </a>
                        <div class="price">
                            <h6> $0.55 </h6>
                        </div>
                        <div class="dimension">
                            <p>2.5" x 1.75" x 1.75"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-cube-300x240.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Cube</h2>
                        </a>
                        <div class="price">
                            <h6>$0.55</h6>
                        </div>
                        <div class="dimension">
                            <p>2" x 2" x 2"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-mini-cube-300x240.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mini Cube</h2>
                        </a>
                        <div class="price">
                            <h6>$0.50</h6>
                        </div>
                        <div class="dimension">
                            <p>1.75" x 1.75" x 1.75"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-Punchblock (1).jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>3" Punch Block</h2>
                        </a>
                        <div class="price">
                            <h6>$1.65</h6>
                        </div>
                        <div class="dimension">
                            <p>3" x 3" x 3"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-Punchblock.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>4" Punch Block</h2>
                        </a>
                        <div class="price">
                            <h6> $3.00</h6>
                        </div>
                        <div class="dimension">
                            <p>4" x 4" x 4"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-Punchblock-300x240 (1).jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>5" Punch Block</h2>
                        </a>
                        <div class="price">
                            <h6>$5.00</h6>
                        </div>
                        <div class="dimension">
                            <p>5" x 5" x 5"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-Punchblock-300x240.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>6" Punch Block</h2>
                        </a>
                        <div class="price">
                            <h6>$8.00</h6>
                        </div>
                        <div class="dimension">
                            <p>6" x 6" x 6"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-Spear.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Spear</h2>
                        </a>
                        <div class="price">
                            <h6>$0.65 </h6>
                        </div>
                        <div class="dimension">
                            <p>4.5" x 1.5" x 1.5"</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-sm-globe.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Small "Globe"</h2>
                        </a>
                        <div class="price">
                            <h6>$1.50</h6>
                        </div>
                        <div class="dimension">
                            <p>2.25" diameter</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!--image size: 680px by 830px-->
                        <img class="medium" src="./img/prod-sm-globe-300x240.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Large "Globe"</h2>
                        </a>
                        <div class="price">
                            <h6>$2.50</h6>
                        </div>
                        <div class="dimension">
                            <p>2.75" diameter</p>
                        </div>
                    </div>
                </div>

             </div>

             
          </main>
          <footer class="row center">All right reserved</footer>
      </div>
    </body>
</html>